<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/style-Home.css">
    <title>Vista Inmueble Verano</title>
</head>

<body>
    <div class="cont__retro">
        <img src="/imagenes/volver.svg" alt="" class="svg__volver">
        <p><a href="/inmobiliaria">Volver</a></p>
    </div>

    <section class="cont__seccion__int">
        <div class="seccion__imagenes">
            <div class="cont__img__interiores">
                <img src="/imagenes/interioresHome/Home1-min.jpg" alt="" class="img__interiores">
                <img src="/imagenes/interioresHome/Home2-min.jpg" alt="" class="img__interiores">
            </div>
            <div class="cont__img__interiores">
                <img src="/imagenes/interioresHome/Home3-min.jpg" alt="" class="img__interiores">
                <img src="/imagenes/interioresHome/Home4-min.jpg" alt="" class="img__interiores">
            </div>

        </div>
        <div class="seccion__texto">
            <p class="titulo__texto">Casa de Verano</p>
            <p class="descripcion__texto"><span class="esp__int">Precio:</span> $ 100.000/ Mes <br> <span
                    class="esp__int">Zona:</span> Ciudad <br> <span class="esp__int">Ambientes:</span> 3 </p>
            <p class="descripcion__texto__tres"> Casa de Verano o temporal totalmente equipada, ubicada en una zona altamente transitada, con zona de compras cerca y peatonal a dos cuadras. Ideal para 3 personas. <br> <br> Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Cupiditate alias amet quasi? Repudiandae eius officiis facere voluptates
                totam itaque quis minima vero aliquam alias nisi repellendus, perspiciatis tempore eveniet quod.</p>
        </div>
    </section>

</body>

</html>